<title>Translate App</title>
<style>
    #wrapper {
        text-align: center;
    }
</style>

<div id="wrapper">
    <form method="post">
        {{ form.EnterSentence.label }}<br>
        <p>{{ form.EnterSentence (cols="50", rows="20")}}</p>
        <p>{{ form.upload_file (cols="50", rows="20")}}</p>
        {% for error in form.EnterSentence.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        <br>
        
        {{ form.submit }}
    </form>
</div>