<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>文章要約アプリ</title>
        <meta name="description" content="長い文章を短く要約するアプリ">  
    </head>
    
    <header>
        <br>
        <h1>NUTSHELL</h1><br>
        <h4>文章要約アプリ</h4>
    </header>

    <br>
    
    <body>
        <div id="wrapper">
            <form method="post">
                {{ form.EnterSentence.label }}<br>
                <p>{{ form.EnterSentence (cols="150", rows="12")}}</p>
                <br>
                {{ form.submit }}
            </form>
        </div>
    </body>
    <style>
        header{
            color: azure;
            font-size: 40px;
            text-align: left;
            height: 400px;
            background-image: url("templates/banner-4833105_1920.jpg");
            line-height:0;
        }
        body{
            text-align: center;
        }

    </style>



